.carousel-item {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 250px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
            transform-origin: center left;
}

.carousel-item:hover ~ .carousel-item {
-webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
}

.carousel-item__img {
width: 200px;
height: 250px;
-o-object-fit: cover;
    object-fit: cover;
}

.carousel-item__details {
align-items: flex-start;
background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
bottom: 0;
display: flex;
font-size: 10px;
flex-direction: column;
justify-content: flex-end;
left: 0;
opacity: 0;
transition: 450ms opacity;
padding: 10px;
position: absolute;
right: 0;
top: 0;
}
  
.carousel-item__details--img {
width: 20px;
}

.carousel-item:hover .carousel-item__details {
opacity: 1;
}

.carousel-item__details--title {
color: white;
margin: 5px 0px 0px 0px;
}

.carousel-item__details--subtitle {
color: white;
font-size: 8px;
margin: 3px 0px;
}